# Postprocess Delta Analysis

We will now look at the output of Delta.
You can also find a lot of extra info in the Delta documentation [here](https://delta.readthedocs.io/en/latest/usage/analysis.html)

---

## Import packages

Before starting the code we need to import all the required packages.

We use a number of important Python packages:
- [Numpy](https://numpy.org): Goto package for vector/matrix based calculations (heavily inspired by Matlab)
- [Pandas](https://pandas.pydata.org): Goto package for handling data tables (heavily inspired by R) 
- [Scipy](https://scipy.org): Numpy extensions for statistics, image analysis, and more
- [Scikit-image (skimage)](https://scikit-image.org): Goto package for image analysis
- [Matplotlib](https://matplotlib.org): Goto package for plotting data
- [Napari](https://napari.org): GUI based interactive image viewer
- [pathlib](https://docs.python.org/3/library/pathlib.html): Path handling made easy
- [pickle](https://docs.python.org/3/library/pickle.html): Read pkl file format
- [delta](https://delta.readthedocs.io/en/latest/usage/analysis.html): Delta pipeline

In [1]:

%matplotlib inline
%config InlineBackend.figure_format = 'retina'

import numpy as np
import pandas as pd

import matplotlib
import matplotlib.pyplot as plt
import matplotlib.cm as cm
matplotlib.rc("figure", figsize=(10,5))

import seaborn as sns

import pathlib
import tifffile
import pickle

from skimage.measure import regionprops

from delta.pipeline import Position as delta_pos

In [5]:
def to_str(posixpath):
    return str(posixpath.resolve())

---

## Setup Folders
As always we start with specifying the data paths:

In [3]:
proj_dir = pathlib.Path(pathlib.Path.home(), 'I2ICourse', 'Project2B')
processed_dir = proj_dir / 'ProcessedData'
image_dir = proj_dir / 'RawData'

---

## Load Data
We can now load the data again. See [here](https://delta.readthedocs.io/en/latest/usage/analysis.html) for detailed instructions.
To load all data we can use the following command:

In [7]:
#find all position .pkl outputs:
file_dirs = sorted(processed_dir.glob('*.pkl'))
print(file_dirs)
# this loads the processed data
pos_name = to_str(file_dirs[0])
pos = delta_pos(None,None,None)
pos.load(pos_name)

[PosixPath('/Users/simonvanvliet/I2ICourse/Project2B/ProcessedData/Position000000.pkl')]

---

## Convert Tracking Data to Standard Format

As you can clearly see from the saw-tooth pattern of cell length, a cell lineage in Delta is defined in a bit of a weird way as it continues across cell divisions. More commonly a cell lineage is defined to start at cell birth and stop and cell division. 

As a first step we thus have to split these lineages into segments.
Below we give a function that does this (no need to try to understand this code for now).

In [8]:
def split_lineages(lin):
    #first we give each sublineage a unique id
    unique_count = 0 
    #loop delta lineages
    for cell in lin.cells:

        ## create sublineage ID
        #find division events
        div_event = np.array([d is not None for d in cell['daughters']])
        #cumulative number of divisions gives a unique nr to each segment
        sublin_id = np.cumsum(div_event) 
        #now assign unique number accross all cell lineages
        unique_id = sublin_id + unique_count #unique cells id
        
        #update unique_count 
        unique_count += (np.sum(div_event) + 1)
        
        ##now we have to connect lineages together
        #find mother cell and birth frame
             
        if cell['mother']  is not None:
            mom = lin.cells[cell['mother'] ] #get properties of mom
            try:
                ## find unique cell id of the proper sub-segment in the mom lineage
                birth_frm = cell['frames'][0]   
                div_frm = mom['frames'].index(birth_frm-1)
                mom_lin_id = mom['lin_id'][div_frm] #this is proper unique lin id of mom
            except:
                mom_lin_id = -1
        else:
            #no mom found (first cell)
             mom_lin_id = -1   
                    
        
        ## add mother info
        #the id of mother is the id of prev segment
        mother_lin_id = unique_id.copy() - 1
        #except for first segment, there we use the lin_index of mother we found above
        mother_lin_id[sublin_id==0] = mom_lin_id
        
        #add d1 offspring number to linage 
        #this is simply next segment
        d1_lin_id = unique_id.copy() + 1
        #except for last segment, this does not have d1 offspring 
        d1_lin_id[d1_lin_id==d1_lin_id[-1]] = -1

        #now we assign properties to cell
        cell['sublin_idx'] = sublin_id.tolist()
        cell['lin_id'] = unique_id.tolist()
        cell['mother_lin_id'] = mother_lin_id.tolist()
        cell['d1_lin_id'] = d1_lin_id.tolist()
        
    return None #lin is updated in place

---

## Add Positional Information

If you have another look at the lineage object you can see it does not contain information on the location of cells. We add a function below to do this.

In [9]:
def add_segment_info(lin, label_stack):
    #lin: delta linage object
    #label_stack: list of label images = pos.rois[0].label_stack
   
    #initialize new property keys:
    for cells in lin.cells:
        cells.setdefault('x_pos',[])
        cells.setdefault('y_pos',[])
   
    #loop frames
    for label_im in label_stack:
        #get region properties
        rp_list = regionprops(label_im)
        
        #assign cell phenotypes
        for idx, rp in enumerate(rp_list):
            #get lineage number of cell (note labels are 1 based, cell lineages are 0 based!)
            cell_idx = rp.label-1
            #assign phenotypes
            lin.cells[cell_idx]['x_pos'].append(rp.centroid[1]) #order in centroid is (y,x)
            lin.cells[cell_idx]['y_pos'].append(rp.centroid[0]) #order in centroid is (y,x)
                    
    return None

It is always good to check things visually. Below we define a function that can be used to plot any cell property of choice as a spatial map:

In [10]:
def plot_spatial_map(pos, lin, property, frame=-1, axis=None):
   #pos: delta position object
   #lin: delta linage object
   #property: key of cell property contained in lineage object
   #frame: frame to show, if not specified last one is chosen
   #axis: axis to add plot to, if not specified new one is made
   
   #create color map where Nan is shown as black  
   colMap = cm.get_cmap("viridis").copy()
   colMap.set_bad(color='black')
   
   #get frame
   frame = len(pos.rois[0].label_stack)-1 if frame==-1 else frame

   # get label image:
   labels = pos.rois[0].label_stack[frame]

   spatial_map = np.full(labels.shape, np.nan)

   # Go over cells in selected frame:
   for cnb in lin.cellnumbers[frame]:
   
      #convert to numpy to allow for advanced indexing
      cell_frames = np.array(lin.cells[cnb]['frames'])
      cell_prop = np.array(lin.cells[cnb][property])
   
      #frame index      
      fr_idx = cell_frames==frame
      cell_prop = cell_prop[fr_idx]
      
      #assign cells mask area the phenotype of choice
      spatial_map[labels==cnb+1] = cell_prop

   #create new axis if needed
   if axis is None:
      fig, axis = plt.subplots()
   
   #make plot
   axis.imshow(spatial_map, cmap=colMap)
   axis.set_xlabel('x-pos') 
   axis.set_ylabel('y-pos') 
   axis.set_title(property)
   
   return None

---

## Convert to Pandas dataframe

Now that we have all the important cell properties we can convert the Delta output to a Pandas dataframe. We provide a function for this below:

In [11]:
def lin_to_df(lin):
    #find vector based data (only vector based data is compatible with dataframe)
    vector_data = []
    [vector_data.append(key) for key in lin.cells[0].keys() if isinstance(lin.cells[0][key], list)]
    #create data frame
    df = pd.DataFrame(lin.cells) 
    #this creates nested dataframe, we need to explode time into separate rows:
    df = df.explode(vector_data)
    #and reindex
    df = df.reset_index(drop=True)

    return df

---

## All-in-one processing

For future use, we provide here a single wrapper function that takes as entry a delta position object and outputs a Pandas dataframe by successively calling the functions we defined above.

In [13]:
def delta_to_df(pos, reader=None):
    
    lin = pos.rois[0].lineage
    
    #split lineages:
    split_lineages(lin)
    
    #add segment info
    add_segment_info(lin, pos.rois[0].label_stack)
    
    #convert to pandas dataframe
    df = lin_to_df(lin)
   
    return df

In [14]:
#let's first reload the position
df = delta_to_df(pos)
df.head(n=30)

,id,mother,frames,daughters,new_pole,old_pole,edges,length,width,area,perimeter,fluo1,sublin_idx,lin_id,mother_lin_id,d1_lin_id,x_pos,y_pos
0,0,NaN,0,None,"[250, 310]","[236, 298]",,30.766232,11.088337,267.0,30,216.422819,0,0,-1,1,305.362416,243.97651
1,0,NaN,1,None,"[253, 311]","[237, 297]",,31.876179,10.988653,273.5,27,234.334426,0,0,-1,1,304.872131,245.321311
2,0,NaN,2,None,"[261, 310]","[246, 295]",,31.819805,10.606601,276.0,30,235.65798,0,0,-1,1,303.0,253.693811
3,0,NaN,3,None,"[263, 306]","[248, 291]",,33.234016,11.313707,304.5,27,251.801187,0,0,-1,1,299.240356,255.436202
4,0,NaN,4,None,"[263, 304]","[247, 287]",,33.941124,11.313707,314.5,31,244.034483,0,0,-1,1,296.017241,254.451149
5,0,NaN,5,None,"[261, 304]","[246, 284]",,36.573315,11.401754,327.5,34,255.393939,0,0,-1,1,295.068871,253.482094
6,0,NaN,6,None,"[267, 305]","[252, 285]",,37.44136,11.257707,341.5,35,246.783069,0,0,-1,1,294.664021,258.902116
7,0,NaN,7,None,"[272, 307]","[256, 285]",,38.269344,11.229179,349.5,42,274.351421,0,0,-1,1,296.069767,263.374677
8,0,NaN,8,None,"[268, 309]","[250, 284]",,40.78558,11.266735,366.5,41,269.231527,0,0,-1,1,297.133005,258.623153
9,0,NaN,9,None,"[275, 307]","[257, 283]",,41.866165,11.421289,378.0,49,283.377088,0,0,-1,1,295.455847,265.315036
10,0,NaN,10,None,"[274, 310]","[255, 284]",,43.564709,11.567183,397.0,53,291.191344,0,0,-1,1,296.749431,263.656036
11,0,NaN,11,None,"[284, 310]","[262, 281]",,45.803005,11.815942,404.0,45,267.073661,0,0,-1,1,295.587054,272.0625
12,0,NaN,12,None,"[291, 308]","[268, 279]",,47.389393,12.115201,427.0,46,270.34322,0,0,-1,1,293.588983,278.004237
13,0,NaN,13,None,"[288, 308]","[263, 278]",,49.189816,12.267532,439.5,57,270.106996,0,0,-1,1,293.707819,274.211934
14,0,NaN,14,None,"[292, 308]","[266, 277]",,51.358692,12.556801,454.5,53,290.00996,0,0,-1,1,292.466135,277.139442
15,0,NaN,15,None,"[294, 310]","[266, 278]",,53.263344,13.699946,487.0,65,267.786245,0,0,-1,1,294.6171,278.022305
16,0,NaN,16,None,"[287, 310]","[259, 277]",,56.079075,14.302822,526.5,64,265.915517,0,0,-1,1,294.286207,270.962069
17,0,NaN,17,None,"[286, 311]","[253, 273]",,59.415699,14.273853,569.5,60,270.1008,0,0,-1,1,293.1648,267.4304
18,0,NaN,18,None,"[295, 313]","[259, 272]",,63.877415,14.244373,608.0,70,264.551724,0,0,-1,1,293.941529,275.067466
19,0,NaN,19,None,"[305, 314]","[267, 271]",,67.354706,13.782511,640.5,66,286.763195,0,0,-1,1,294.082739,284.510699
20,0,NaN,20,None,"[306, 319]","[263, 272]",,72.917755,14.159791,681.0,69,286.706434,0,0,-1,1,297.231903,282.883378
21,0,NaN,21,None,"[300, 322]","[254, 272]",,77.890938,14.571435,723.5,71,274.296343,0,0,-1,1,298.595208,275.084489
22,0,NaN,22,2,"[273, 293]","[254, 269]",,40.439224,10.278302,352.5,37,266.324808,1,1,0,2,280.690537,263.025575
23,0,NaN,23,None,"[281, 294]","[260, 268]",,42.636284,10.627063,384.0,38,290.441038,1,1,0,2,281.740566,270.966981
24,0,NaN,24,None,"[271, 298]","[251, 268]",,49.090969,11.094004,440.0,57,279.12115,1,1,0,2,283.856263,261.37577
25,0,NaN,25,None,"[274, 303]","[251, 267]",,53.514652,11.350807,479.0,66,252.216981,1,1,0,2,286.066038,263.967925
26,0,NaN,26,None,"[282, 307]","[256, 265]",,58.309158,11.948263,518.0,72,250.04712,1,1,0,2,286.179756,269.975567
27,0,NaN,27,None,"[281, 313]","[255, 268]",,64.115265,12.147583,564.0,83,264.304,1,1,0,2,291.1008,269.5504
28,0,NaN,28,None,"[282, 317]","[250, 264]",,70.460876,13.15936,609.0,77,245.644444,1,1,0,2,290.448889,267.454815
29,0,NaN,29,4,"[272, 283]","[252, 263]",,37.476658,10.606602,331.0,25,268.346995,2,2,1,3,274.396175,263.270492

---

In [45]:
d1 = df.groupby('mother_lin_id').first()['lin_id']
d2 = df.groupby('mother_lin_id').last()['lin_id']

d3 = pd.concat([d1, d2], axis=1, keys=['d1_lin_id','d2_lin_id'])
d3 = d3.reset_index()

d3.head()

   mother_lin_id  d1_lin_id  d2_lin_id
0             -1          0          8
1              0          1         16
2              1          2         30
3              2          3         57
4              3          4        104

In [46]:
df[df['mother_lin_id']==-1]

,id,mother,frames,daughters,new_pole,old_pole,edges,length,width,area,perimeter,fluo1,sublin_idx,lin_id,mother_lin_id,d1_lin_id,x_pos,y_pos
0,0,NaN,0,None,"[250, 310]","[236, 298]",,30.766232,11.088337,267.0,30,216.422819,0,0,-1,1,305.362416,243.97651
1,0,NaN,1,None,"[253, 311]","[237, 297]",,31.876179,10.988653,273.5,27,234.334426,0,0,-1,1,304.872131,245.321311
2,0,NaN,2,None,"[261, 310]","[246, 295]",,31.819805,10.606601,276.0,30,235.65798,0,0,-1,1,303.0,253.693811
3,0,NaN,3,None,"[263, 306]","[248, 291]",,33.234016,11.313707,304.5,27,251.801187,0,0,-1,1,299.240356,255.436202
4,0,NaN,4,None,"[263, 304]","[247, 287]",,33.941124,11.313707,314.5,31,244.034483,0,0,-1,1,296.017241,254.451149
5,0,NaN,5,None,"[261, 304]","[246, 284]",,36.573315,11.401754,327.5,34,255.393939,0,0,-1,1,295.068871,253.482094
6,0,NaN,6,None,"[267, 305]","[252, 285]",,37.44136,11.257707,341.5,35,246.783069,0,0,-1,1,294.664021,258.902116
7,0,NaN,7,None,"[272, 307]","[256, 285]",,38.269344,11.229179,349.5,42,274.351421,0,0,-1,1,296.069767,263.374677
8,0,NaN,8,None,"[268, 309]","[250, 284]",,40.78558,11.266735,366.5,41,269.231527,0,0,-1,1,297.133005,258.623153
9,0,NaN,9,None,"[275, 307]","[257, 283]",,41.866165,11.421289,378.0,49,283.377088,0,0,-1,1,295.455847,265.315036
10,0,NaN,10,None,"[274, 310]","[255, 284]",,43.564709,11.567183,397.0,53,291.191344,0,0,-1,1,296.749431,263.656036
11,0,NaN,11,None,"[284, 310]","[262, 281]",,45.803005,11.815942,404.0,45,267.073661,0,0,-1,1,295.587054,272.0625
12,0,NaN,12,None,"[291, 308]","[268, 279]",,47.389393,12.115201,427.0,46,270.34322,0,0,-1,1,293.588983,278.004237
13,0,NaN,13,None,"[288, 308]","[263, 278]",,49.189816,12.267532,439.5,57,270.106996,0,0,-1,1,293.707819,274.211934
14,0,NaN,14,None,"[292, 308]","[266, 277]",,51.358692,12.556801,454.5,53,290.00996,0,0,-1,1,292.466135,277.139442
15,0,NaN,15,None,"[294, 310]","[266, 278]",,53.263344,13.699946,487.0,65,267.786245,0,0,-1,1,294.6171,278.022305
16,0,NaN,16,None,"[287, 310]","[259, 277]",,56.079075,14.302822,526.5,64,265.915517,0,0,-1,1,294.286207,270.962069
17,0,NaN,17,None,"[286, 311]","[253, 273]",,59.415699,14.273853,569.5,60,270.1008,0,0,-1,1,293.1648,267.4304
18,0,NaN,18,None,"[295, 313]","[259, 272]",,63.877415,14.244373,608.0,70,264.551724,0,0,-1,1,293.941529,275.067466
19,0,NaN,19,None,"[305, 314]","[267, 271]",,67.354706,13.782511,640.5,66,286.763195,0,0,-1,1,294.082739,284.510699
20,0,NaN,20,None,"[306, 319]","[263, 272]",,72.917755,14.159791,681.0,69,286.706434,0,0,-1,1,297.231903,282.883378
21,0,NaN,21,None,"[300, 322]","[254, 272]",,77.890938,14.571435,723.5,71,274.296343,0,0,-1,1,298.595208,275.084489
80,1,NaN,0,None,"[283, 326]","[267, 318]",,30.940464,10.197083,256.5,47,216.875433,0,8,-1,9,322.99308,275.816609
81,1,NaN,1,None,"[285, 326]","[269, 318]",,31.708736,10.266926,262.5,45,236.233108,0,8,-1,9,322.861486,277.297297
82,1,NaN,2,None,"[295, 325]","[278, 317]",,32.153847,10.230771,261.0,43,239.932203,0,8,-1,9,321.694915,286.671186
83,1,NaN,3,None,"[298, 323]","[279, 313]",,32.646591,10.285913,268.0,47,261.81457,0,8,-1,9,318.327815,288.655629
84,1,NaN,4,None,"[297, 319]","[278, 310]",,33.483147,10.110596,272.5,50,255.814935,0,8,-1,9,315.532468,288.25974
85,1,NaN,5,None,"[295, 318]","[276, 303]",,35.200001,10.4,301.5,39,266.645833,0,8,-1,9,310.883929,285.735119
86,1,NaN,6,None,"[298, 315]","[282, 301]",,35.467731,10.507465,310.5,35,252.889855,0,8,-1,9,308.744928,290.121739
87,1,NaN,7,None,"[301, 316]","[282, 296]",,36.796696,10.569865,321.5,24,274.477528,0,8,-1,9,307.469101,292.213483
88,1,NaN,8,None,"[295, 315]","[275, 295]",,38.209824,11.063303,327.0,34,263.573003,0,8,-1,9,306.187328,285.743802
89,1,NaN,9,None,"[302, 313]","[281, 292]",,39.597977,10.606602,333.5,26,273.42973,0,8,-1,9,303.451351,291.559459
90,1,NaN,10,None,"[299, 313]","[277, 291]",,41.184391,11.139397,352.0,29,279.146154,0,8,-1,9,303.366667,288.707692
91,1,NaN,11,None,"[309, 313]","[284, 288]",,43.928677,11.223742,374.0,37,256.490338,0,8,-1,9,301.330918,296.560386
92,1,NaN,12,None,"[312, 308]","[289, 285]",,45.254829,10.606602,385.0,31,260.868545,0,8,-1,9,297.873239,301.450704
93,1,NaN,13,None,"[307, 307]","[282, 281]",,47.376148,10.606602,402.0,27,259.653153,0,8,-1,9,296.378378,296.225225
94,1,NaN,14,None,"[312, 308]","[285, 280]",,48.790367,10.606602,413.0,30,276.107456,0,8,-1,9,294.655702,299.212719
95,1,NaN,15,None,"[313, 310]","[284, 279]",,52.344948,10.097404,444.5,31,254.193878,0,8,-1,9,295.187755,299.106122
96,1,NaN,16,None,"[306, 310]","[274, 275]",,56.671101,10.665989,493.5,34,250.213628,0,8,-1,9,293.475138,291.228361
97,1,NaN,17,None,"[303, 309]","[270, 272]",,58.840797,10.682912,511.5,39,250.349911,0,8,-1,9,291.390764,287.278863
98,1,NaN,18,None,"[312, 310]","[274, 268]",,64.443237,10.628825,559.0,44,241.582114,0,8,-1,9,289.76748,293.357724
99,1,NaN,19,None,"[320, 309]","[281, 265]",,68.801056,10.627306,602.5,45,255.557402,0,8,-1,9,288.587613,301.669184
100,1,NaN,20,None,"[318, 310]","[275, 263]",,72.220306,10.794495,625.5,39,257.37172,0,8,-1,9,288.413994,297.198251
101,1,NaN,21,None,"[311, 311]","[263, 260]",,78.512817,11.591777,654.5,50,254.371706,0,8,-1,9,286.367545,286.300971

2022-06-22 20:33:32.762 python[32980:1788741] AdjustToIronwoodHotKeyChange - CG (hotmod:1) HotKey : hotKey enabled = 1, keyChar=0xfffbffff, virtKey=0x40000, flags=0x0

In [44]:
d3.iloc[[0]]['mother_lin_id']

KeyError: 'mother_lin_id'

In [37]:
d3[d3['mother_lin_id']==0]

KeyError: 'mother_lin_id'

## File Saving
This would be a good time to save your data.  
You can save the position file using `pos.save(filename=filename, save_format='pickle')`. We won't do this now as we do not want to accidentally corrupt our data.

Instead we just save the dataframe:

In [22]:
save_name = processed_dir / pos_name.replace('.pkl','_df.pkl')
df.to_pickle(save_name)