# Postprocess Delta Analysis

We will now look at the output of Delta.
You can also find a lot of extra info in the Delta documentation [here](https://delta.readthedocs.io/en/latest/usage/analysis.html)

---

## Import packages

In [ ]:
import numpy as np
import pandas as pd
from delta_postprocess import delta_to_df #contains all the code to convert delta object

:

---

## Load & Convert Data
We can now load the data again. See [here](https://delta.readthedocs.io/en/latest/usage/analysis.html) for detailed instructions.
To load all data we can use the following command:

In [2]:
pos_path = '/Users/simonvanvliet/I2ICourse/Project2B/ProcessedData/Position000000.pkl'
df = delta_to_df(pos_path)

## Inspect Pandas dataframe

In the data frame we now have the following lineage information:

- `id_seg`: the ordinal lineage id assigned by delta (contains cell+offspring), this index (offset by 1) in label image. Don't use this unless you need to interface wit label image
- `id_cell`: a unique id for each cell, from birth to division. Always use this to access cell lineages.
- `id_par`: the `id_cell` number of a cell's parent
- `id_colony`: each cell in first frame is assigned a unique `id_colony` which is shared with all it's offspring. (e.g. use this to separate different colonies)
- `id_d1`: the `id_cell` number of a cell's first offspring (old-pole)
- `id_d2`: the `id_cell` number of a cell's second offspring (new-pole)
- `id_sib`: the `id_cell` number of a cell's sibling

In [3]:
df.head(10)

,id_seg,id_cell,id_par,id_colony,id_d1,id_d2,id_sib,frames,new_pole,old_pole,edges,length,width,area,perimeter,fluo1,x_pos,y_pos
0,0,0,-1,0,1,16,-1,0,"[250, 310]","[236, 298]",,30.766232,11.088337,267.0,30,216.422819,305.362416,243.97651
1,0,0,-1,0,1,16,-1,1,"[253, 311]","[237, 297]",,31.876179,10.988653,273.5,27,234.334426,304.872131,245.321311
2,0,0,-1,0,1,16,-1,2,"[261, 310]","[246, 295]",,31.819805,10.606601,276.0,30,235.65798,303.0,253.693811
3,0,0,-1,0,1,16,-1,3,"[263, 306]","[248, 291]",,33.234016,11.313707,304.5,27,251.801187,299.240356,255.436202
4,0,0,-1,0,1,16,-1,4,"[263, 304]","[247, 287]",,33.941124,11.313707,314.5,31,244.034483,296.017241,254.451149
5,0,0,-1,0,1,16,-1,5,"[261, 304]","[246, 284]",,36.573315,11.401754,327.5,34,255.393939,295.068871,253.482094
6,0,0,-1,0,1,16,-1,6,"[267, 305]","[252, 285]",,37.44136,11.257707,341.5,35,246.783069,294.664021,258.902116
7,0,0,-1,0,1,16,-1,7,"[272, 307]","[256, 285]",,38.269344,11.229179,349.5,42,274.351421,296.069767,263.374677
8,0,0,-1,0,1,16,-1,8,"[268, 309]","[250, 284]",,40.78558,11.266735,366.5,41,269.231527,297.133005,258.623153
9,0,0,-1,0,1,16,-1,9,"[275, 307]","[257, 283]",,41.866165,11.421289,378.0,49,283.377088,295.455847,265.315036

---

## File Saving
This would be a good time to save your data.  
You can save the position file using `pos.save(filename=filename, save_format='pickle')`. We won't do this now as we do not want to accidentally corrupt our data.

Instead we just save the dataframe:

In [4]:
save_name = pos_path.replace('.pkl','_df.pkl')
df.to_pickle(save_name)